$head_width  : 50vw;
$head_heigth : 50vh;

$img_padding : 10; // in vw
$minore_ratio: 1.935;
$lab_ratio   : 1.483;
$lab_heigth  : 43%;
$lab_width   : 32.7%;

$content-margin: .5%;

body {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
    float: left;
    width: $head_width;
}

#left-header {
    padding-top: 10vh;
    width: $head_width;
    height: $head_heigth;

    // debug background
    // background-color: maroon;
}
.center-left-child {
    margin: 0 auto;
}

#image-block {
    position: relative;
    font-size: 0;
    max-width: ($head_heigth*$minore_ratio)-$img_padding;
    height: 100%;

    // debug background
    // background-color: blue;
}

#main-header {
    font-size: 0;
    text-decoration: none;
    
    height: 100%;
    width: 100%;

    top: 0%;
    left: 0%;
    position: absolute;

    background-image: url(../img/dark_drop.jpg);
    background-repeat: no-repeat;
    background-size: 120%;

    mask-image: url(../img/MINOREOPUS.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

#sub-header {
    font-size: 0;
    
    height: $lab_heigth;
    width: $lab_width;

    position: absolute;
    bottom: 0%;
    right: 0%;
    
    background-color: #f5f2e8;
    mask-image: url(/img/lab_fuzz.svg);
    mask-size:  contain;
    mask-repeat: no-repeat;
    
    transition: 200ms;
    &:hover{
        opacity: 70%;
        mask-image: url(/img/lab_sharp.svg);
    }
}
 
#right-box {
    background-color: orange;
    float : right;

    width : 99vw - $head_width;
    height: 100vh;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    // margin-right: 20px;
    padding: $content-margin;

    border-left: #f5f2e8 solid 2px;
    border-right: #f5f2e8 solid 2px;
}

//TODO yeah this should be an upper dive, 
// and then the content box should be inside that one
#content {
    padding: 5%;
    margin: 0 auto;

    overflow-y: scroll;
    background-color: orangered;
    border-radius: 3px;

    scrollbar-color: #22222250 #44444450;
    scrollbar-width: thin;


}
// TODO chrome and safari scollbar