@import "_colors.scss";

//* main *//

body {
    padding: 0%;
    margin: 0;
    width: 100vw;
    background: darkgreen;
}

header {
    margin: 5px;
    background-color: maroon;
    max-width: 100vw;
    margin: 0;
    border: none;
    min-height: 80px;
}

//* footer *//

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
}

footer .flexbox {
    display: flex;
    flex: wrap;
    flex-flow: row wrap;
    flex-shrink: row;
    align-items: stretch;
}

.flexbox > * {
    //max-width: 30%;
    min-width: 200px;
    margin-left:  .5%;
    margin-right: .5%;
    background: skyblue;
    margin-bottom: 10px;
}
.flexbox .column {
    
}

footer>.column {
    color: green;
}

section.content_block {
    float: right;
    right: 0;
    background: blue;
    width: calc(100% - 8em);

    margin-right: 1em;
}