:root.horizon body {
    --border-style: solid;
    /** Border-radius for the whole theme */
    --border-radius: 15px;
    --border-inner-radius: 5px;
    --border-mod-radius: 40px;
    --border-active-radius: 4px;
}

:root.horizon.dark {
    /** Text */
    --text-normal: #ffded5;
    --text-header: #2E303E;
    --header-primary: #F09383;
    --header-secondary: transparent;
    --interactive-normal: #E95379;
    --channels-default: #FAB28E;
    --text-muted: #FAC29A99;
    --interactive-muted: #d1835c6c;
    --interactive-hover: #e4c5cc;
    --interactive-active: #E95678;
    /** Background color */
    --background-primary: #1C1E26;
    --background-secondary: #1C1E26;
    --background-secondary-alt: #1A1C23;
    --background-tertiary: #16161C;
    /** --background-tertiary-alt: url("image-link"); */
    --background-tertiary-alt: #FFC7D4;
    --background-floating: #2e303e31;
    --drop-background: #232530;
    --background-accent: #6c6f9338;
    --channeltextarea-background: #232530;
    --background-modifier-hover: #503a2e73;
    --background-modifier-active: var(--background-floating);
    --background-modifier-selected: var(--background-floating);
    --background-modifier-selected-alt: #fcd97949;
    /** Scrollbar */
    --scrollbar-auto-thumb: #E95379;
    --scrollbar-auto-track: #232530;
    --scrollbar-thin-thumb: #E9537925;
    --scrollbar-thin-track: transparent;
    --slider: #cb9ae7;
}

:root.horizon.light {
    /** Text */
    --text-normal: #E73665;
    --text-header: #FADAD1;
    --header-primary: #F09383;
    --interactive-normal: #E84A72;
    --channels-default: #F6661E;
    --text-muted: #F43E5C;
    --interactive-muted: #d1835c49;
    --header-secondary: #DA103F;
    --interactive-hover: #F77D26;
    --interactive-active: #DC3318;
    /** Background color */
    --background-primary: #FDF0ED;
    --background-secondary: #FDF0ED;
    --background-secondary-alt: #F9CBBE;
    --background-tertiary: #F9CBBE;
    /** --background-tertiary-alt: url("image-link"); */
    --background-tertiary-alt: #1A1C23;
    --background-floating: #FADAD1;
    --drop-background: #ffd7ce;
    --background-accent: #F9CBBE;
    --channeltextarea-background: #F9CBBE;
    --background-modifier-hover: #af542744;
    --background-modifier-active: #f6661e70;
    --background-modifier-selected: #f6661e70;
    --background-modifier-selected-alt: #F43E5C2f;
    /** Scrollbar */
    --scrollbar-auto-thumb: #F77D26;
    --scrollbar-auto-track: #e6dcda77;
    --scrollbar-thin-thumb: #E73665;
    --scrollbar-thin-track: transparent;
    --slider: #8931B9;
}


/** Styles */

:root.horizon .main_head {
    box-shadow: 0px 2px 1px var(--header-primary);
}

:root.horizon .flex_box {
    border-radius: var(--border-radius);
}

:root.horizon .flex_box .header {
    color: var(--channels-default);
    background: none;
    font-size: 125%;
    border-bottom: var(--background-accent) solid 2px;
}