body {
    margin: 0;
    padding: 1vw 1vh;
}

header {
    float: left;
    width: 55vw;
}

#left-header {
    width: 52vw;
    height: 50vh;
    padding: 1vw;
}

#image-block {
    float: center;
}

#header-link h1 {
    color: transparent;
    font-size: 0;
    text-decoration: none;

    background-image: url(../img/dark_drop.jpg);
    background-repeat: no-repeat;
    background-size:50vw;

    mask-image: url(../img/MINOREOPUS.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    width: inherit;
    height: 50vh;
}

#main-sub {
    // color:transparent;
    
    width: inherit;
    height: 50vh;
;
    // margin-left: 32.7vw;
    margin-top: -50vh;

    background-color: #f5f2e8;

    mask-image: url(/img/lab.svg);
    mask-size:  21.5vw 21vh;
    mask-repeat: no-repeat;
    mask-position: bottom right;
    mask-origin:fill-box;
    float: center;
}
 
#content-box {
    border-radius: 1vw;
    background-color: green;

    float: left;
    width: 42vw;
    height: 96vh;

    overflow-y: scroll;

}